body {
  background-color: #F4F4F4;
  font-family: "Neue Helvetica W01", sans-serif;
}

a {
  color: #1297F7;
}

nav {
  height: 56px;
  background-color: rgba(52, 65, 77, 0.99);
  text-align: center;
  padding-top: 30px;
}
